@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    margin: 16px;
    background-color: rgb(30, 30, 30) !important;
    border: rgba(255, 255, 255, 0.1) solid 2px;
    padding: 8px;
    overflow-y: hidden;
    color: white;

    border-radius: 8px;
}

.innerBody::before {
    content: "";
    background: url('../assets/background.png') repeat 0 0;
    transform: rotate(45deg);
    position: absolute;
    width: 200%;
    height: 800%;
    top: -400%;
    left: -50%;
    z-index: -1;
    overflow: hidden;
    background-clip: border-box;
}

.innerBody {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background-color: rgb(0, 0, 0, 0.25) !important;
    padding: 8px;
    border: rgba(255, 255, 255, 0.1) solid 2px;
    background-clip: border-box;
}

.title {
    margin: 0;
    margin-bottom: 4px;
}

.information {
    margin: 0;
}

.information:before {
    min-width: 500px !important;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.modifierList {
    display: flex;
    justify-content: left;
}

.modifiers {
    margin-top: 8px;
    width: 500px;
    vertical-align: middle;
    margin-bottom: 4px;
}

.modifiers > span {
    float: left;

    line-height: 24px;
    margin-left: 8px;
}

.modifiers>a {
    display: inline;
    height: 24px;
    font-size: 0.9em;

    float: left;
    clear: left;
    width: 220px;
    margin-bottom: 4px;
}

input {
    margin-left: 8px;
    float: left;
    border: none;
    padding: 2px;
    border-radius: 4px;
    background-color: rgb(30, 30, 30);
    color: white;

    border: rgba(255, 255, 255, 0.1) solid 2px;
}

textarea:focus,
input:focus {
    border: rgba(255, 255, 255, 0.1) solid 2px;
    box-shadow: none;
    outline: none;
    /*outline-color: linear-gradient(90deg, rgba(255, 73, 216, 1) 0%, rgb(255, 0, 0) 100%);*/
}

input[type='checkbox'] {
    appearance: initial;
    margin-left: 8px;
    float: left;
    border: none;
    padding: 4px;
    clip-path: circle(50% at 50% 50%);
    border-radius: 100%;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: rgb(30, 30, 30);
    position: relative;

    border: rgba(255, 255, 255, 0.1) solid 2px;
}

input[type="checkbox"]:checked {
    background: linear-gradient(90deg, rgba(255, 73, 216, 1) 0%, rgb(255, 0, 0) 100%);
    border: rgb(53, 53, 53) solid 2px;
}

.objects {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.objects > textarea {
    width: calc(50% - 24px);
    height: 200px;
    padding: 8px;

    border: none;
    border-radius: 4px;
    resize: none;

    color: white;
    background: rgb(30, 30, 30);
    border: rgba(255, 255, 255, 0.1) solid 2px;

    margin-bottom: 8px;
}

.submit {
    float: left;
    border: none;
    padding: 2px;
    border-radius: 4px;
    background-color: rgb(30, 30, 30);
    color: white;

    width: 200px;
    height: 40px;
    border: rgba(255, 255, 255, 0.1) solid 2px;
}

.watermark {
    padding-top: 24px;
    line-height: 16px;

    font-size: 0.85em;
}
